{% extends 'base.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-info is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    说个故事
                </h1>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="box">
        <div class="notification is-success">
            <button class="delete"></button>
            <h2 class="title"> 注册了你就知道了 ʘʚʘ</h2>
        </div>
    </div>
</div>
{% endblock main %}
